# Business Problem

**Birliktelik Kuralları Nedir?**

Veri içerisindeki pattern'leri (ilişkileri, yapıları) bulmak için kullanılan kural tabanlı bir makine öğrenmesi tekniğidir.


Birliktelik analizi uygulamaları veri biliminde en çok karşımıza çıkan uygulamalardandır. Tavsiye sistemleri olarak da denk gelmiş olacaktır.


Bu uygulamalar karşınıza şu şekillerde gelmiş olabilir "o ürünü alan bu ürünü de aldı" ya da "o ilana bakanlar bu ilanlara da baktı" ya da "senin için çalma listesi oluşturduk" ya da "sıradaki video için önerilen video" gibi.

Bu senaryolar e-ticaret veri bilimi veri madenciliği çalışmaları kapsamında en sık karşımıza çıkacak olan senaryolar.

Türkiye'deki ve dünyadaki büyük e-ticaret şirketleri, spotify, amazon, netflix gibi biraz daha yakından bilebileceğimiz birçok platform tavsiye sistemlerini kullanmaktadır.

Peki özetle ne yapmaktadır bu birliktelik analizleri?


**Apriori Algoritması**

Bu alanda en çok kullanılan yöntemdir. 

Birliktelik kuralı analizi bazı metrikler incelenerek gerçekleştirilir:

- Destek (Support)

Support(X, Y) = Freq(X,Y)/N

X: ürün
Y: ürün
N: toplam alışveriş

- Güven (Confidence)

Confidence(X, Y) = Freq(X,Y) / Freq(X)

- Lift

Lift = Support (X, Y) / ( Support(X) * Support(Y) )

In [ ]:
import pandas as pd
import numpy as np 
mg= pd.read_csv(r"C:\Users\yilma\OneDrive\Masaüstü\Yeni klasör/satislar.csv", sep =";" , header= None,low_memory=False)

#pd.read_csv('/kaggle/input/satislar.csv',sep=';',low_memory=False, header=None)

In [3]:
mg.head(100)

,0,1,2,3,4,5,6,7,8
0,1145,2236,2020-05-01 08:29:49.000,11450001261903,426410,0,1,05.07.014,"Tıraş Bıçak ve Jiletleri,,"
1,1129,2156,2020-05-01 08:30:44.000,11290001181201,59010,0,"1,5",03.03.002,"Dana Eti Kg,"
2,1141,2216,2020-05-01 08:36:56.000,11410001201443,314720,0,1,02.02.004,"Meyve Suları Küçük Boy,,"
3,1141,2216,2020-05-01 08:36:56.000,11410001201443,180122,1,1,01.07.002,"Çikolata,,"
4,1141,2216,2020-05-01 08:36:56.000,11410001201443,162169,2,1,01.04.002,"Bisküvi Çeşitleri,,"
...,...,...,...,...,...,...,...,...,...
95,1104,2031,2020-05-01 09:13:40.000,11040001794420,126005,2,"0,578",03.04.002,"Sebze,"
96,1104,2031,2020-05-01 09:13:40.000,11040001794420,106700,3,1,01.18.002,"Domates Salçası,,"
97,1104,2031,2020-05-01 09:15:01.000,11040001794421,126100,0,"1,036",03.04.002,"Sebze,"
98,1104,2031,2020-05-01 09:15:01.000,11040001794421,126220,1,"8,015",03.04.001,"Meyve,"
99,1104,2031,2020-05-01 09:15:01.000,11040001794421,126135,2,"0,616",03.04.002,"Sebze,"

In [4]:
mg.columns = ['BranchId', 'PosId', 'InvoiceDate', 'InvoiceNo','StockCode','Line','Quantity','CategoryCode','CategoryName']

In [5]:
mg.head()

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
0,1145,2236,2020-05-01 08:29:49.000,11450001261903,426410,0,1,05.07.014,"Tıraş Bıçak ve Jiletleri,,"
1,1129,2156,2020-05-01 08:30:44.000,11290001181201,59010,0,"1,5",03.03.002,"Dana Eti Kg,"
2,1141,2216,2020-05-01 08:36:56.000,11410001201443,314720,0,1,02.02.004,"Meyve Suları Küçük Boy,,"
3,1141,2216,2020-05-01 08:36:56.000,11410001201443,180122,1,1,01.07.002,"Çikolata,,"
4,1141,2216,2020-05-01 08:36:56.000,11410001201443,162169,2,1,01.04.002,"Bisküvi Çeşitleri,,"

In [6]:
mg.dropna(subset = ["CategoryCode"],inplace = True)

In [7]:
mg["CategoryCode"].nunique()

258

In [8]:
mg["BranchId"].value_counts()

1146    44797
1125    40811
1137    36974
1108    34182
1143    32999
1118    29815
1131    28354
4005    27436
1133    26518
4007    26343
4006    25399
4003    21342
1107    20620
1115    20287
1106    20278
1117    19134
1135    18880
1148    18667
1126    18358
1119    18203
4004    16874
1127    16803
1130    16771
1124    16727
1140    16646
1122    16269
1142    16019
1114    15696
1145    15393
1109    15011
1160    14680
1139    14256
1128    14203
1132    13692
1102    13564
1103    13325
1129    13264
1141    13221
1134    12925
1123    12890
1113    12719
4010    12343
1144    11554
1112    11308
1116    11252
1136    11154
1138    11070
1101    10315
1104    10088
1147     9707
1110     9515
4009     8675
1111     7063
1120     5755
1121     4599
Name: BranchId, dtype: int64

In [9]:
mg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 974743 entries, 0 to 1048575
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   BranchId      974743 non-null  int64
 1   PosId         974743 non-null  int64
 2   InvoiceDate   974743 non-null  object
 3   InvoiceNo     974743 non-null  int64
 4   StockCode     974743 non-null  int64
 5   Line          974743 non-null  int64
 6   Quantity      974743 non-null  object
 7   CategoryCode  974743 non-null  object
 8   CategoryName  974743 non-null  object
dtypes: int64(5), object(4)
memory usage: 74.4+ MB

In [10]:
mg.describe().T

,count,mean,std,min,25%,50%,75%,max
BranchId,974743.0,1.535722e+03,1.004966e+03,1.101000e+03,1.117000e+03,1.131000e+03,1.144000e+03,4.010000e+03
PosId,974743.0,2.454675e+03,6.997097e+02,2.016000e+03,2.097000e+03,2.167000e+03,2.236000e+03,4.021000e+03
InvoiceNo,974743.0,1.535723e+13,1.004966e+13,1.101000e+13,1.117000e+13,1.131000e+13,1.144000e+13,4.010000e+13
StockCode,974743.0,2.065353e+05,1.606901e+05,1.011000e+04,1.260050e+05,1.543620e+05,3.141530e+05,9.000674e+06
Line,974743.0,3.802201e+00,5.505346e+00,0.000000e+00,0.000000e+00,2.000000e+00,5.000000e+00,9.600000e+01

In [11]:
mg.head()

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
0,1145,2236,2020-05-01 08:29:49.000,11450001261903,426410,0,1,05.07.014,"Tıraş Bıçak ve Jiletleri,,"
1,1129,2156,2020-05-01 08:30:44.000,11290001181201,59010,0,"1,5",03.03.002,"Dana Eti Kg,"
2,1141,2216,2020-05-01 08:36:56.000,11410001201443,314720,0,1,02.02.004,"Meyve Suları Küçük Boy,,"
3,1141,2216,2020-05-01 08:36:56.000,11410001201443,180122,1,1,01.07.002,"Çikolata,,"
4,1141,2216,2020-05-01 08:36:56.000,11410001201443,162169,2,1,01.04.002,"Bisküvi Çeşitleri,,"

In [12]:
mg["CategoryName"] = mg["CategoryName"].str.strip(",")

In [13]:
mg

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
0,1145,2236,2020-05-01 08:29:49.000,11450001261903,426410,0,1,05.07.014,Tıraş Bıçak ve Jiletleri
1,1129,2156,2020-05-01 08:30:44.000,11290001181201,59010,0,"1,5",03.03.002,Dana Eti Kg
2,1141,2216,2020-05-01 08:36:56.000,11410001201443,314720,0,1,02.02.004,Meyve Suları Küçük Boy
3,1141,2216,2020-05-01 08:36:56.000,11410001201443,180122,1,1,01.07.002,Çikolata
4,1141,2216,2020-05-01 08:36:56.000,11410001201443,162169,2,1,01.04.002,Bisküvi Çeşitleri
...,...,...,...,...,...,...,...,...,...
1048571,1125,2137,2020-05-15 12:42:30.000,11250002395521,315002,15,1,02.02.010,Limonata
1048572,1125,2137,2020-05-15 12:42:30.000,11250002395521,318207,16,1,02.02.005,Meyve Suları Litre
1048573,1125,2137,2020-05-15 12:42:30.000,11250002395521,315002,17,1,02.02.010,Limonata
1048574,1125,2137,2020-05-15 12:42:30.000,11250002395521,315002,18,1,02.02.010,Limonata
1048575,1125,2137,2020-05-15 12:42:30.000,11250002395521,317570,19,1,02.01.003,Kola

In [14]:
mg.dropna(subset =['InvoiceNo'], inplace = True)

In [15]:
mg

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
0,1145,2236,2020-05-01 08:29:49.000,11450001261903,426410,0,1,05.07.014,Tıraş Bıçak ve Jiletleri
1,1129,2156,2020-05-01 08:30:44.000,11290001181201,59010,0,"1,5",03.03.002,Dana Eti Kg
2,1141,2216,2020-05-01 08:36:56.000,11410001201443,314720,0,1,02.02.004,Meyve Suları Küçük Boy
3,1141,2216,2020-05-01 08:36:56.000,11410001201443,180122,1,1,01.07.002,Çikolata
4,1141,2216,2020-05-01 08:36:56.000,11410001201443,162169,2,1,01.04.002,Bisküvi Çeşitleri
...,...,...,...,...,...,...,...,...,...
1048571,1125,2137,2020-05-15 12:42:30.000,11250002395521,315002,15,1,02.02.010,Limonata
1048572,1125,2137,2020-05-15 12:42:30.000,11250002395521,318207,16,1,02.02.005,Meyve Suları Litre
1048573,1125,2137,2020-05-15 12:42:30.000,11250002395521,315002,17,1,02.02.010,Limonata
1048574,1125,2137,2020-05-15 12:42:30.000,11250002395521,315002,18,1,02.02.010,Limonata
1048575,1125,2137,2020-05-15 12:42:30.000,11250002395521,317570,19,1,02.01.003,Kola

In [16]:
maskBranchId = mg["BranchId"] == 4010
df= mg[maskBranchId]

In [17]:
df.dropna(subset= ["CategoryName"],inplace= True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
df.head()

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
88,4010,4021,2020-05-01 08:48:09.000,40100000005450,468286,0,1,05.10.001,Sigara
89,4010,4021,2020-05-01 08:48:09.000,40100000005450,284633,1,1,01.05.001,Cips
177,4010,4021,2020-05-01 08:57:08.000,40100000005451,126030,0,"1,25",03.04.002,Sebze
178,4010,4021,2020-05-01 08:57:08.000,40100000005451,126045,1,"0,035",03.04.002,Sebze
179,4010,4021,2020-05-01 08:57:08.000,40100000005451,60103,2,1,01.15.003,Mantı

In [19]:
pd.DataFrame(df["CategoryName"].value_counts(normalize=True)).head(100)

                              CategoryName
Dondurma                          0.152475
Sebze                             0.134570
Ekmek                             0.099814
Cips                              0.071620
Sigara                            0.052418
...                                    ...
Buzdolabı Poseti                  0.000405
Sebze Konservesi                  0.000405
Ayçiçek Yağı                      0.000405
El ve Yüz Katı Sabunlar           0.000324
Kolonya ve Gülsuyu Çeşitleri      0.000324

[100 rows x 1 columns]

In [20]:
df["BranchId"].value_counts()

4010    12343
Name: BranchId, dtype: int64

In [21]:
df["PosId"].value_counts()

4021    12343
Name: PosId, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12343 entries, 88 to 1018735
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BranchId      12343 non-null  int64
 1   PosId         12343 non-null  int64
 2   InvoiceDate   12343 non-null  object
 3   InvoiceNo     12343 non-null  int64
 4   StockCode     12343 non-null  int64
 5   Line          12343 non-null  int64
 6   Quantity      12343 non-null  object
 7   CategoryCode  12343 non-null  object
 8   CategoryName  12343 non-null  object
dtypes: int64(5), object(4)
memory usage: 964.3+ KB

In [23]:
df['Quantity'] = [x.replace(',', '.') for x in df['Quantity']]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
88,4010,4021,2020-05-01 08:48:09.000,40100000005450,468286,0,1,05.10.001,Sigara
89,4010,4021,2020-05-01 08:48:09.000,40100000005450,284633,1,1,01.05.001,Cips
177,4010,4021,2020-05-01 08:57:08.000,40100000005451,126030,0,1.25,03.04.002,Sebze
178,4010,4021,2020-05-01 08:57:08.000,40100000005451,126045,1,0.035,03.04.002,Sebze
179,4010,4021,2020-05-01 08:57:08.000,40100000005451,60103,2,1,01.15.003,Mantı
...,...,...,...,...,...,...,...,...,...
1018729,4010,4021,2020-05-14 17:56:04.000,40100000010294,116640,13,1,01.08.001,Dondurma
1018730,4010,4021,2020-05-14 17:56:04.000,40100000010294,116640,14,1,01.08.001,Dondurma
1018731,4010,4021,2020-05-14 17:56:04.000,40100000010294,116173,15,1,01.08.001,Dondurma
1018732,4010,4021,2020-05-14 17:56:04.000,40100000010294,116302,16,1,01.08.001,Dondurma
1018735,4010,4021,2020-05-14 17:56:04.000,40100000010294,317539,19,1,02.01.003,Kola

In [25]:
df["Quantity"] = df["Quantity"].astype("float")

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
88,4010,4021,2020-05-01 08:48:09.000,40100000005450,468286,0,1.000,05.10.001,Sigara
89,4010,4021,2020-05-01 08:48:09.000,40100000005450,284633,1,1.000,01.05.001,Cips
177,4010,4021,2020-05-01 08:57:08.000,40100000005451,126030,0,1.250,03.04.002,Sebze
178,4010,4021,2020-05-01 08:57:08.000,40100000005451,126045,1,0.035,03.04.002,Sebze
179,4010,4021,2020-05-01 08:57:08.000,40100000005451,60103,2,1.000,01.15.003,Mantı
...,...,...,...,...,...,...,...,...,...
1018729,4010,4021,2020-05-14 17:56:04.000,40100000010294,116640,13,1.000,01.08.001,Dondurma
1018730,4010,4021,2020-05-14 17:56:04.000,40100000010294,116640,14,1.000,01.08.001,Dondurma
1018731,4010,4021,2020-05-14 17:56:04.000,40100000010294,116173,15,1.000,01.08.001,Dondurma
1018732,4010,4021,2020-05-14 17:56:04.000,40100000010294,116302,16,1.000,01.08.001,Dondurma
1018735,4010,4021,2020-05-14 17:56:04.000,40100000010294,317539,19,1.000,02.01.003,Kola

In [27]:
df["Quantity"] = df["Quantity"].astype("int")

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df

,BranchId,PosId,InvoiceDate,InvoiceNo,StockCode,Line,Quantity,CategoryCode,CategoryName
88,4010,4021,2020-05-01 08:48:09.000,40100000005450,468286,0,1,05.10.001,Sigara
89,4010,4021,2020-05-01 08:48:09.000,40100000005450,284633,1,1,01.05.001,Cips
177,4010,4021,2020-05-01 08:57:08.000,40100000005451,126030,0,1,03.04.002,Sebze
178,4010,4021,2020-05-01 08:57:08.000,40100000005451,126045,1,0,03.04.002,Sebze
179,4010,4021,2020-05-01 08:57:08.000,40100000005451,60103,2,1,01.15.003,Mantı
...,...,...,...,...,...,...,...,...,...
1018729,4010,4021,2020-05-14 17:56:04.000,40100000010294,116640,13,1,01.08.001,Dondurma
1018730,4010,4021,2020-05-14 17:56:04.000,40100000010294,116640,14,1,01.08.001,Dondurma
1018731,4010,4021,2020-05-14 17:56:04.000,40100000010294,116173,15,1,01.08.001,Dondurma
1018732,4010,4021,2020-05-14 17:56:04.000,40100000010294,116302,16,1,01.08.001,Dondurma
1018735,4010,4021,2020-05-14 17:56:04.000,40100000010294,317539,19,1,02.01.003,Kola

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12343 entries, 88 to 1018735
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BranchId      12343 non-null  int64
 1   PosId         12343 non-null  int64
 2   InvoiceDate   12343 non-null  object
 3   InvoiceNo     12343 non-null  int64
 4   StockCode     12343 non-null  int64
 5   Line          12343 non-null  int64
 6   Quantity      12343 non-null  int32
 7   CategoryCode  12343 non-null  object
 8   CategoryName  12343 non-null  object
dtypes: int32(1), int64(5), object(3)
memory usage: 916.1+ KB

In [30]:
branch_order = (df
          .groupby(['InvoiceNo', 'CategoryName'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('InvoiceNo'))

In [31]:
branch_order.head(20)

CategoryName,Ayakkabı Boya Malzemeleri,Ayran,Ayçiçek Yağı,Baharat Paketli,Baharat Set,Bal,Banyo Sabunları,Bebek Bisküvi ve Ekmeği,Bebek Sabun ve Şampuanları,Biber Salçası,...,Çamaşır Kireç Önleyici,Çamaşır Suyu,Çay Bardak,Çay Demlik,Çay Kg,Çikolata,Çocuk Bezi,Çorba,İrmik,Şampuan
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
40100000005450,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005451,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005453,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
40100000005462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005467,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40100000005469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
branch_encoded = branch_order.applymap(lambda x: 0 if x<=0 else 1) 
basket_branch = branch_encoded

In [33]:
from mlxtend.frequent_patterns import apriori, association_rules

In [34]:
frq_items = apriori(basket_branch, min_support = 0.0005, use_colnames = True)

In [35]:
frq_items

      support                                           itemsets
0    0.005023                                            (Ayran)
1    0.001046                                     (Ayçiçek Yağı)
2    0.017581                                  (Baharat Paketli)
3    0.000837                                      (Baharat Set)
4    0.001674                                              (Bal)
..        ...                                                ...
779  0.000628  (Soğuk Çay, Bisküvi Çeşitleri, Kraker, Meyve S...
780  0.000628                  (Dondurma, Çikolata, Sakız, Cips)
781  0.001256                        (Kola, Ekmek, Sigara, Cips)
782  0.000628                     (Dondurma, Ekmek, Kola, Sebze)
783  0.000628                    (Sut Sade, Ekmek, Sakız, Sebze)

[784 rows x 2 columns]

In [37]:
rules = association_rules(frq_items,  min_threshold = 0.20) 
rules.head(100)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Ayran),(Ekmek),0.005023,0.230850,0.001256,0.250000,1.082956,0.000096,1.025534
1,(Baharat Paketli),(Ekmek),0.017581,0.230850,0.003977,0.226190,0.979817,-0.000082,0.993979
2,(Eksiler(Nar)),(Baharat Paketli),0.001674,0.017581,0.001256,0.750000,42.660714,0.001226,3.929678
3,(Vanilya & Kabartma Tozu),(Baharat Paketli),0.003349,0.017581,0.000837,0.250000,14.220238,0.000778,1.309893
4,(Bebek Bisküvi ve Ekmeği),(Sut Sade),0.002721,0.046882,0.001465,0.538462,11.485577,0.001337,2.065090
...,...,...,...,...,...,...,...,...,...
95,(Peçete),(Sebze),0.003139,0.109251,0.000837,0.266667,2.440868,0.000494,1.214658
96,(Peçete),(Su),0.003139,0.046463,0.000837,0.266667,5.739339,0.000691,1.300278
97,(Piliç Eti Kg),(Sebze),0.008790,0.109251,0.002512,0.285714,2.615216,0.001551,1.247049
98,(Şampuan),(Sac Kremi),0.002930,0.001046,0.000628,0.214286,204.771429,0.000625,1.271395
99,(Sac Kremi),(Şampuan),0.001046,0.002930,0.000628,0.600000,204.771429,0.000625,2.492675

In [47]:
rules.head(100)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Ayran),(Ekmek),0.005023,0.230850,0.001256,0.250000,1.082956,0.000096,1.025534
1,(Baharat Paketli),(Ekmek),0.017581,0.230850,0.003977,0.226190,0.979817,-0.000082,0.993979
2,(Eksiler(Nar)),(Baharat Paketli),0.001674,0.017581,0.001256,0.750000,42.660714,0.001226,3.929678
3,(Vanilya & Kabartma Tozu),(Baharat Paketli),0.003349,0.017581,0.000837,0.250000,14.220238,0.000778,1.309893
4,(Bebek Bisküvi ve Ekmeği),(Sut Sade),0.002721,0.046882,0.001465,0.538462,11.485577,0.001337,2.065090
...,...,...,...,...,...,...,...,...,...
95,(Peçete),(Sebze),0.003139,0.109251,0.000837,0.266667,2.440868,0.000494,1.214658
96,(Peçete),(Su),0.003139,0.046463,0.000837,0.266667,5.739339,0.000691,1.300278
97,(Piliç Eti Kg),(Sebze),0.008790,0.109251,0.002512,0.285714,2.615216,0.001551,1.247049
98,(Şampuan),(Sac Kremi),0.002930,0.001046,0.000628,0.214286,204.771429,0.000625,1.271395
99,(Sac Kremi),(Şampuan),0.001046,0.002930,0.000628,0.600000,204.771429,0.000625,2.492675